<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>New Product</h1>
   <form action="/products" method="POST">
        <input type="text" name="name" placeholder="Enter name">
        <input type="text" name="price" placeholder="Enter price">
        <select name="category" id="">
            <option value="fruit">Fruit</option>
            <option value="vegetable">Vegetable</option>
            <option value="dairy">Dairy</option>
        </select>
        <button>Submit</button>
   </form>
</body>
</html>